.component {
  margin-left: 550px;
  padding-top: 100px;
  width: 500px;
}

.dropdown-toggle button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.panel {
  width: 100%;
  /* border: 1px solid slategray; */
  /* padding: 10px; */
  /* background-color: red; */
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
