.component {
  width: 500px;
  padding-top: 50px;
}

.dropdown-toggle button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.panel {
  width: 100%;
  /* border: 1px solid slategray; */
  padding: 10px 5px 10px 5px;
  background-color: rgb(128, 128, 128, 0.2);
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.checkbox-label {
  cursor: pointer;
}
